src/main/mule/global/contract-sys-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="contract-sys-api-main">
        <http:listener config-ref="contract-sys-api-httpListenerConfig" path="${http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="Start logger" doc:id="31d7c998-6271-4ec2-9c5e-142610f942ce" message="Start logger"/>
		<apikit:router config-ref="contract-sys-api-config" />
		<error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="contract-sys-api-console">
        <http:listener config-ref="contract-sys-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="contract-sys-api-config" />
		<error-handler ref="globalErrorHandler" />
    </flow>
    <flow name="get:\contract:contract-sys-api-config">
		<ee:transform doc:name="Transform Message" doc:id="81b99e5c-dfd4-4f0f-9a42-db412139043d" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="field" ><![CDATA[p('field.contract')]]></ee:set-variable>
				<ee:set-variable variableName="Id" ><![CDATA[attributes.queryParams.Id]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-contractFlow" doc:id="24adeb59-b9b8-461f-a80e-3eb59c78792d" name="get-contractFlow" />
    </flow>
    <flow name="post:\contract:application\json:contract-sys-api-config">
		<flow-ref doc:name="post-contractFlow" doc:id="8b7f9a76-9ce2-42a9-a2c8-cdd227982f71" name="post-contractFlow" />
    </flow>
</mule>
